

// .row {
//     max-width: 1440px;
//     margin: 0 auto;
//     &::after {
//         content: "";
//         display: table;
//         clear: both;
//     }
// }

// .col-1-of-2 {
//     width: calc((100% - 30px) /2);
//     float: left;
//     &:not(:last-child) {
//         margin-right: 30px;
//     }
// }

.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;

    .title {
      margin: 10px 0;  
    }
    .buttons {
        display: flex;
        justify-content: space-between;

    }
}